@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #09090b;
  color: #fafafa;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
}

/* Efek grid tipis ala termai.cc di background */
.bg-grid {
  background-size: 40px 40px;
  background-image: 
    linear-gradient(to right, rgba(39, 39, 42, 0.3) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(39, 39, 42, 0.3) 1px, transparent 1px);
}
